@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-items {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// media query manager
/*
0 - 600 mobile screen size
600 - 900 tablet portrait
900 - 1200 tablet landascape
1200 - 1800 laptop
1800 + large screen size
1em = 16px which is given by the browser
ems are preffered when dealing with media queries
*/

//order of changes
// Base + typography > general layout + grid >  page layout > components
// using breakpoint
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // less than 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // less than 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // less than 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // more than 1800px
      @content;
    }
  }
}
