//Grid //
$color-primary: #7ed56f;
$color-primary-light: #2ae468;
$color-primary-dark: #0eb437;
$color-grey-dark: #777;
$color-grey-dark-2: #eee;
$color-dark-grey-3: #999;
$color-dark-grey-4: #333;
$color-white: #fff;
$color-black: #000;
$grid-background-color: chocolate;
$color-grey-light-1: #f7f7f7;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// font sizes
$default-font-size: 1.6rem;

//border radius
$border-radius: 3px;
